h1{
    border: blue 2px solid;
}

/* 1. Identify the element you want to style */
/*tag name - will get applied to ALL */
p{
    color: green;
}
/* . (class) - applies to ALL elements with the class attribute */
/* # (id) - applies to a specific element only ONE element  */

ul{
    border: aqua 1px solid;
    margin: 15px;

}

li , a{
    text-decoration: none;
    color: chocolate;
}

.animeSites{
    border: #db2d2d 2px solid;
    margin: 0px;
    padding: 0px;
}

/*SYNTAX*/

/*  selector{  */
/*    apply your css styling here */
/*    property: value  */
/*  }  */