*{
    box-sizing: border-box;
    margin: 0;
}

.nav_container{
    margin: auto;
    display: flex;
    flex-direction: row;
    background: lightgrey;
    padding: 1em;
}

img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

a{
    display: inline-block;
    text-decoration: none;
    color: black;
}
a:hover{
    color: blue;
}

.nav_section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.nav_section2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 8;
}

.nav_section3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

#search_icon, cart_icon, profile_icon {
    align-self: flex-end;
}