body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message{
    border: black 1px solid;
    border-radius: 5px;
    margin: 5px;
    height: 25px;
    text-align: inherit;
}

.message-info{
    display: block;
    margin-left: 150px;
    margin-right: 150px;
    background: #378cba;
    color: blue;
}
.message-success{
    display: block;
    margin-left: 150px;
    margin-right: 150px;
    background: #0FB784;
    color: green;
}
.message-warning{
    display: block;
    margin-left: 150px;
    margin-right: 150px;
    background: #d0b13e;
    color: #655c0b;
}
.message-error{
    display: block;
    margin-left: 150px;
    margin-right: 150px;
    background: #e75f5f;
    color: #8f1316;
}